h6{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 3px;
}

.containerFacturation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.facturationInput{
    margin: 4px;
    width: 45%;
    border: 0.1px solid grey;
    height: 35px;
    
}