.input{
    margin: 4px;
    width: 250px;
    width: 100%;
    border: 0.6px solid black;
    height: 35px;
    margin-top:10px ;
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 14px 15px -7px rgba(105,105,105,1);
    -moz-box-shadow: 10px 14px 15px -7px rgba(105,105,105,1);
    box-shadow: 10px 14px 15px -7px rgba(105,105,105,1);
}

.containerFac{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Times New Roman', Times, serif;
  }

hr{
    margin-top: 20px;
    margin-bottom: 27px;
}

.containerInput{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 5%;
    background-color: #E9E9E9;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 7px 17px 30px 9px rgba(99,99,99,1);
    -moz-box-shadow: 7px 17px 30px 9px rgba(99,99,99,1);
    box-shadow: 7px 17px 30px 9px rgba(99,99,99,1);
}

@media screen and (max-width: 600px) {
    .containerInput{
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 5%;
        background-color: #E9E9E9;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 7px 17px 30px 9px rgba(99,99,99,1);
        -moz-box-shadow: 7px 17px 30px 9px rgba(99,99,99,1);
        box-shadow: 7px 17px 30px 9px rgba(99,99,99,1);
    }
}