@media screen and (max-width: 600px) {
  body{
    background-color: black;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  padding: 7px;
}
